<h1>Welcome to Tender APP</h1>
<p>Menu</p>
<a href="tender/new">Create tender</a><br/>
<a href="tender/index">All tenders</a><br/>
<a href="user/new">Create user</a><br/>
<a href="user/show">All users</a><br/>
